.button {
  background-color: var(--green-500);
  color: var(--white);
  border-radius: 0.2rem;
  padding: 1.5rem 1.625rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}

.button:hover {
  background-color: var(--green-700);
}

.banner {
  max-width: 50rem;
  display: block;
  line-height: 1;
}

.banner h1 {
  color: var(--green-400);
  font-size: 4rem;
  margin: 2rem 0;
}

.banner p {
  font-size: 2rem;
  margin: 2rem 0;
}